<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
function doLogin(){
	$.ajax({
        type: "POST",
        url:  "/springpractice/dologin",
        data: {
            "tableName": tableName,
            "columeName": "property"
        },
        dataType: 'json',
        async: false,
        success: function(data){
	});
}
</script>
<title>登入</title>
</head>
<body>
<h1>前端傳值 submit</h1>
<form action="loginsubmit" method= "POST">
	帳號：<input type = "text" name ="userName" /><br>
	密碼：<input type = "password" name ="password" /><br>
	<input type="submit" value="Submit">
</form>


<h1>前端傳值 AJAX(序列化)</h1>
<form>
	帳號：<input type = "text" name ="userName" /><br>
	密碼：<input type = "password" name ="password" /><br>
	<input type="button" value="送出" onclick="doLogin()"/>
</form>

<h1>前端傳值 AJAX(指定參數)</h1>
<form>
	帳號：<input type = "text" name ="userName" /><br>
	密碼：<input type = "password" name ="password" /><br>
	<input type="button" value="送出" onclick="doLogin()"/>
</form>

</body>
</html>